
/* Navbar container */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem 1.25rem;
  justify-content: space-between;
  z-index: 1000;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

/* Background when scrolled */
/* .navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
} */

/* LIGHT MODE glass */
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* DARK MODE glass */
:global(.dark) .navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* Navbar inner wrapper */
.navbar-inner {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo wrapper */
.logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.brand-logo {
  font-size: 20px;
  width: 70px;
  height: 50px;
  margin-left: -20px;
}
.logo:hover {
  opacity: 0.8;
}

/* Desktop nav links */
.nav-links {
  display: none; /* hide by default for mobile */
  gap: 2rem;
  color: #1d1d1d;
}

.nav-links.active {
  color: #F59E0B;
}

.nav-links:hover {
  color: #F59E0B;
}

.nav-links button {
  font-size: 0.975rem; /* 14px */
  font-weight: 500;
  background: none;
  border: none;
  color: #1d1d1d;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links button.dark {
  color: white;
}

.nav-links button.active,
.nav-links button:hover {
  color: #F59E0B;
}

/* CTA button */
.cta-button {
  display: none; /* hide by default on mobile */
  padding: 0.675rem 1.5rem; /* 14px 24px */
  border-radius: 12px;
  background: white;
  color: #151022;
  font-weight: 600;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.cta-button:hover {
  opacity: 0.9;
  background: linear-gradient(to right, #7d52fd, #ffffff);
  color: black;
  border: none;
}

.book-call {
  background: linear-gradient(to right, #7d52fd, #ffffff);

}

/* Responsive for desktop */
@media (min-width: 992px) {
  .nav-links {
    display: flex;
    align-items: center;
  }

  .cta-button {
    display: inline-flex;
    align-items: center;
  }

}


